root: true

parserOptions:
  ecmaVersion: 2018
  sourceType: "module"

env:
  es2017: true
  browser: true

rules:
 curly: 2
 prettier/prettier: error


extends:
  ["htmlacademy/vanilla"]

plugins:
  ["prettier"]






